server.host: "0.0.0.0"
server.port: {{ kibana_port }}

elasticsearch.hosts: ["https://{{ elasticsearch_host }}:{{ elasticsearch_port }}"]

elasticsearch.ssl.certificateAuthorities: ["/etc/kibana/certs/ca.crt"]

server.ssl.enabled: true
server.ssl.certificate: /etc/kibana/certs/kibana.crt
server.ssl.key: /etc/kibana/certs/kibana.key

elasticsearch.username: "kibana_system"