[defaults]
inventory = inventories/aws_ec2.yml

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, amazon.aws.aws_ec2
cache = True
cache_plugin = jsonfile
cache_plugin_connection = /tmp/ansible-cache

[ssh_connection]
ssh_args = -o ControlPersist=60s