[defaults]
inventory = inventories/aws_ec2.yml
interpreter_python = auto_silent

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, amazon.aws.aws_ec2
cache = False

[ssh_connection]
ssh_args = -o ControlPersist=60s